:root {
  font-family: Inter, system-ui, Avenir, Helvetica, 'Times New Roman', Times, serif, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  background-color: rgb(43, 40, 77);
  color:white;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title {
  width: 95%;
  max-width: 1020px;
  margin-left: auto;
  margin-right: auto;
  color:white;
  margin-top: 130px;
  line-height: 1.1;
}

h1 {
  font-family: 'Franklin Gothic light', 'Arial Narrow', Arial, sans-serif;
  font-size: 45px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 13px;
  text-shadow: 1px 1px dimgray;
  padding: 0px 10px;
  letter-spacing: -0.5px;
  /* border-top: 1px solid #333;
  border-bottom: 1px solid #333; */
}

h2 {
  margin-top: 8px;
  text-align: center;
  font-weight: 400;
  color: rgb(178, 187, 199);
  font-family: 'Franklin Gothic light', 'Arial Narrow', Arial, sans-serif;
  padding: 0px 10px;
  font-size: 20px;
}

body {
  color: #ffffff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 30px;
  background-color: #030427;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  color: #000000
}

/* Dropdown */

.dropdown {
  display: inline-block;
  position: relative;
}

.dd-button {
  display: inline-block;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 10px 30px 10px 20px;
  background-color: #010025;
  cursor: pointer;
  white-space: nowrap;
}

.dd-button:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgb(2, 1, 58);
}

.dd-button:hover {
  background-color: #04003a;
}


.dd-input {
  display: none;
}

.dd-menu {
  position: absolute;
  top: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(180, 180, 180, 0.1);
  background-color: #020016;
  list-style-type: none;
}

.dd-input + .dd-menu {
  display: none;
} 

.dd-input:checked + .dd-menu {
  display: block;
} 

.dd-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}

.dd-menu li:hover {
  background-color: #f6f6f6;
}

.dd-menu li a {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px;
}

.dd-menu li.divider{
  padding: 0;
  border-bottom: 1px solid #cccccc;
}